/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

#board {
	width: 700px;
	height: 700px;
	margin: 0 auto;
	display: grid;
	grid-template-columns: repeat(8, 1fr);
	grid-template-rows: 80px;
	outline: 10px solid grey;
}

#board > div {

}


#board .black {
	background-color: #000;
}
	

#board .white {
	background-color: #FFF;
}

#board .piece {
	
	width: 100%;
	height: 100%;
	border-radius: 50%;
	
}
#board .piece-white {
	background-color: #AAA;
	
}

#board .piece-black {
	background-color: #F00;
}

#board .selected {
	background-color: #58afe0;
}